@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');
@import 'variables';
@import 'scrollbar';
@import 'color-scheme';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ibarra Real Nova', serif;
  color: var(--color-dark-text);

  input {
    &:disabled {
      @apply cursor-not-allowed;
    }

    &:focus {
      @apply outline-amber-500;
    }
  }
}
.font {
  &--fira {
    font-family: 'Fira Mono', serif;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-ghostwhite);
  }
}
